<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bagheera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Mowgli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MowgliKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE6F6CB41C661E220045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6F6CC81C661E220045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6F6CD31C661E220045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6F6CEA1C6623B80045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6F6CF31C6623B80045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6F6D0D1C66243C0045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6F6D161C66243C0045DF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
